{% extends '@AntonWms/base.html.twig' %}
{% block title %}Главная страница{% endblock %}
{% block header %}
    <nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo">Logo</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="side-nav" id="mobile-demo">
                <li class="tab"><a class="active" href="#admin">Users</a></li>
                <li class="tab"><a href="#test2">Test 2</a></li>
                <li class="tab"><a href="#test3">Disabled Tab</a></li>
                <li class="tab"><a href="#test4">Mobile</a></li>
            </ul>
        </div>
    </nav>
{% endblock %}
{% block main %}
    <div class="col s12 hide-on-med-and-down">
        <ul class="tabs">
            <li class="tab col s3"><a class="active"  href="#admin">Users</a></li>
            <li class="tab col s3"><a href="#test2">Test 2</a></li>
            <li class="tab col s3"><a href="#test3">Disabled Tab</a></li>
            <li class="tab col s3"><a href="#test4">Disabled Tab</a></li>
        </ul>
    </div>
    <div id="admin" class="col s12">
        <div class="card material-table">
            <div class="table-header">
                <span class="table-title">Material Datatable</span>
                <div class="actions">
                    <a href="#add_users" id="addRow" class="modal-trigger waves-effect btn-flat nopadding"><i class="material-icons">person_add</i></a>
                    <a href="#" class="search-toggle waves-effect btn-flat nopadding"><i class="material-icons">search</i></a>
                </div>
            </div>
            <table id="datatable">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>username</th>
                    <th>email</th>
                    <th>roles</th>
                    <th>last login</th>
                </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.email }}</td>
                        <td>
                            {{ user.roles|join(', ') }}
                        </td>
                        <td>
                            {{ user.lastLogin|date('d.m.Y') }}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div id="test2" class="col s12">Test 2</div>
    <div id="test3" class="col s12">Test 3</div>
    <div id="test4" class="col s12">Test 4</div>
{% endblock %}
{% block footer %}{% endblock %}