<div class="modal-content">
    <h4>{{ product.name }}</h4>
Штрих: {{ product.barcode }}<br>
Категория: {{ product.category.name }}<br>
Вес: {{ product.weight }}<br>
{% set props = product.propertyValues %}
{% for prop in props %}
    {{ prop.property.name }}: {{ prop.value }}
{% endfor %}
</div>